p
{
        margin-top: 0px;
        margin-bottom: 0px;
        
        font-family: Roboto , Arial;
} 

body
{
    margin: 0px;
    padding-bottom: 700px;
    padding-top: 105px;
    padding-left: 156px;
    padding-right: 10px;

    background-color: rgb(245, 245, 245);
}