p
{
        margin-top: 0px;
        margin-bottom: 0px;
        
        font-family: Roboto , Arial;
} 

body
{
    margin: 0px;
    padding-bottom: 700px;
    padding-top: 76px;
    padding-left: 106px;
}