.header
{
    height: 75px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: white;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;

    border-bottom-width: 1PX;
    border-bottom-color: rgb(215, 215, 215);
    border-bottom-style: solid;

    z-index: 3;
}

.h-left
{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-left: 15px;
}
.h-center
{  
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;

    align-items: center;
    flex-direction: row;
}
.h-right
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 180px;

    margin-right: 20px;
}

.hamburger-menu
{
    margin-right: 20px;
    margin-left: 24px;

    height: 24px;

}
.youtube-logo
{
    height: 20px;
}


.search-bar
{
    width:0px;
    flex:1;
    height: 36.2px;
    padding-left: 10px;
    font-size: 16px;
    border-style: solid;
    border-radius: 2px;
    border-width: 1.2px;
    border-color: rgb(173, 173, 173);

    box-shadow: inset 1px 2px 3px rgba(0, 0, 0 , 0.05);
}
.search-bar::placeholder
{
    font-family: Roboto , Arial;
    font-size: 16px;
    color: rgb(96, 98, 100);
    
}

.search-icon
{
    height: 30px;
    margin-top: 3px;
}

.search-btn , .voice-btn , .app_con , .not-icon ,.upl_con
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    cursor: pointer;


}

.search-btn
{
  

    height: 41px;
    width: 66px;
    background-color: rgb(239, 239, 239);

    border-style: solid;
    border-radius: 2px;
    border-width: 1.2px;
    border-color: rgb(173, 173, 173);

    margin-left: -4px;
    margin-right: 10px;

   


}
.search-btn div , .voice-btn div ,.upl_con div , .app_con div
{
    margin-top: 80px;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;

   
    opacity: 0;

    border-radius: 3px;
    pointer-events: none;
    white-space: nowrap;

    font-family: Roboto,Arial;
    font-size: 13px;

    transition: all 0.15s;
}

.search-btn:hover div , .voice-btn:hover div ,.upl_con:hover div , .app_con:hover div
{
    opacity: 1;
}

.notiii
{
    margin-top: 80px;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;


    opacity: 0;
    border-radius: 3px;
    pointer-events: none;
    white-space: nowrap;

    font-family: Roboto,Arial;
    font-size: 13px;
    transition: all 0.15s;


}

.not-icon:hover .notiii
{
    opacity: 1;
}

.voice-btn
{
   
    border-color: rgb(173, 173, 173);
    height: 44px;
    width: 44px;

    border-radius: 50px;
    border-style: none;
    position: relative;
    cursor: pointer;
    

}
.voice-icon
{
    height: 25px;
    margin-top: 2px;
}

.icon-upl , .icon-app , .icon-not 
{
    height: 24px;
}
.icon-scr
{
    border-radius: 50px;
    height: 36px;
}

.not-icon
{
    position: relative;
}
.not-count
{
    font-family: Roboto,Arial;
    font-size: 12px;
    position: absolute;
    top:-3px;
    right: -3px;
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;


}
